
body {
    background-image: url('../Images/burger_background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

div {
    margin: auto;
    width: 75%;
    text-align: center;
}

form {
    background-color: white;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
    display: inline-block;
    text-align: center;
}

p {
    font-size: 25px;
}



/*div.transparentBox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
/*/}**/
